@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);

body {
    background-color: #ff6600;
    color: #292724;
}

header {
    margin-top: 100px;
}

h1 {
    font: 150px/35px "open sans";
    text-align: center;
    margin-top: 0px;
}

h2 {
    border-top: 1px dotted #222222;
    font: 30px/20px "open sans";
    margin: 50px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

h2 span {
    background: #ff6600;
    padding: 0 20px;
    position: relative;
    top: -10px;
}

p.tagline {
    text-align: center;
    font: 50px/10px "gentium book basic";
    font-style: italic;
    color: #292724;
}

p {
    font: 24px/1.56em georgia;
}

div.screenshot {
    width: 100%;
    text-align: center;
}

div.screenshot img {
    border: 10px solid #fff;
}

a,
a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

.content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
