@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);

body {
    background-color: #ff6600;
    color: #292724;
}

header {
    margin: 100px auto 0 auto;
}

h1 {
    font: 9em/.25em "open sans";
    text-align: center;
    margin-top: 0px;
    color: #222;
}

h2 {
    border-top: 1px dotted #222222;
    font: 2em/.5em "open sans";
    margin: 50px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: #222;
}

h2 span {
    background: #ff6600;
    padding: 0 20px;
    position: relative;
    top: -10px;
}

p.tagline {
    text-align: center;
    font: 3em/.25em "gentium book basic";
    font-style: italic;
}

p {
    font: 1.5em/1.56em georgia;
}

div.screenshot {
    width: 100%;
    text-align: center;
}

div.screenshot img {
    border: 10px solid #fff;
    max-width: 100%;
}

a,
a:link,
a:visited {
    color: #F0EAD6;
    text-decoration: none;
}

.content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen
and (max-width: 700px) {
body {
    font-size: 12px;
}

.content {
    width: 500px;
}
}


@media only screen
and (max-width: 500px) {
header {
    margin-top: 50px;
}

h1 {
    font-size: 4em;
}

p.tagline {
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

.content {
    width: 300px;
}

div.screenshot img {
    max-width: 80%;
}
}
